<h1>Create a New Team</h1>
<form method="POST" action="/teams">
  <div>
    <label for="name">Name of Team</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location">
  </div>
  
  <button type="submit">Add Team</button>
</form>

<a href="/teams">Back To Teams</a>


