<h1>Create a New Coach</h1>
<form method="POST" action="/teams/{{teamId}}/coaches">
  <div>
    <label for="name">Name of Coach</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="position">Position</label>
    <input type="text" name="position">
  </div>
  <div>
    <label for="yearsExperience">Years of Experience</label>
    <input type="text" name="yearsExperience">
  </div>
  <div>
    <label for="stats">Stats</label>
    <input type="text" name="stats">
  </div>
  
  <button type="submit">Add Team</button>
</form>
