
<h1>Coaches Corner</h1>
{{!-- <p>Welcome to {{title}}</p> --}}
<a href="users/">Sign up</a>


<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">ball</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">ball</i>button</a>
       