h1 {
  font-size: 60px;
  text-align: right;
  color: white;
}

html {
 background: url("https://i.imgur.com/1cS8Cnp.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 }
