h1 {
  font-size: 60px;
  text-align: left;
  color: white;
}

html {
 background: url("https://i.imgur.com/1cS8Cnp.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 }
 

 input[type="radio"] {
     position: fixed;
     left: -100px;
 }
 
 /* //    style input fields (note hidden by default)  */
 input:not([type="radio"]) {

     background-color: #007F10;
     display: block;
     transition: 300ms ease;
     border-radius: 7px;
     border: 0;
     max-height: 0;
     margin: 0;
     padding: 0 10px;
     overflow: hidden;
     width: 250px;
     opacity: 0;
     font-size: 16px;
     text-align: center;
     outline: 0;
 }
 

 [id="sign-in"]:checked ~ input.sign-in,
 [id="sign-up"]:checked ~ input.sign-up,
 [id="reset"]:checked ~ input.reset {
     max-height: 40px;
     padding: 10px;
     margin: 10px 0;
     opacity: 1;
 }
 
 
 /* //    submit button  */
 button {
     width: 250px;
     height: 40px;
     border-radius: 7px;    
     background-color: #6AFFBD ;
     font-size: 0;
     &:before { font-size: 16px; 
    }
 }
 
 /* //    show botton text based on radio selection */
 [id="sign-in"]:checked ~ button:before { content: 'Sign In'; }
 [id="sign-up"]:checked ~ button:before { content: 'Sign Up'; }
 [id="reset"]:checked ~ button:before { content: 'Reset password'; }
        
 label {
     position: relative;
     display: inline-block;
     text-align: center;
     font-weight: 700;
     cursor: pointer;
     color: #4CFF63;
     transition: 300ms ease;
     width: calc(100% / 3 - 4px);
     
  
     &:after {
         content: '';
         border: 10px, solid, transparent;
         position: absolute;
         bottom: -10px;
         left: calc(50% - 10px);
         transition: inherit;
     }
     }
    }
 